{% extends 'base.html.twig' %}

{% block title %}New Mois{% endblock %}

{% block body %}
    <h1>Create new Mois</h1>

    {{ include('mois/_form.html.twig') }}

    <a href="{{ path('app_mois_index') }}">back to list</a>
{% endblock %}
