{% extends 'base.html.twig' %}

{% block title %}New Credit{% endblock %}

{% block body %}
    <h1>Create new Credit</h1>

    {{ include('credit/_form.html.twig') }}

    <a href="{{ path('app_credit_index') }}">back to list</a>
{% endblock %}
